<% if user_signed_in? && current_user.already_favorited?(tweet) %>
  <%= link_to tweet_favorites_path(tweet), method: :delete, remote: true do %>
    <i class="fas fa-heart"> いいね
    <span class="favorite-num"><%= tweet.favorites.count %></span></i>
  <% end %>
<% else %>
  <%= link_to tweet_favorites_path(tweet), method: :post, remote: true do %>
    <i class="far fa-heart"> いいね
    <span class="favorite-num"><%= tweet.favorites.count %></span></i>
  <% end %>
<% end %>