/* ヘッダー情報 */
header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  height: 80px;
  border-bottom: 2px solid #C2D4F2;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}


/* 各ヘッダーアイテム・ */
.header-item {
  height: 80px;
  width: 33%;
  display: flex;
  align-items: center;
}


/* ユーザー情報（アイコン） */
.header-user-image {
  margin-left: 32px;
}


/* ユーザー情報（ニックネーム） */
.header-user-nickname {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header-user-nickname:hover {
  color: #a4c6ff;
  border-bottom: 1px solid #a4c6ff;
  transition-duration: 0.3s;
}


/* 戻るボタン */
.header-back-btn {
  width: 25px;
  height: 25px;
  padding: 10px;
  margin-left: 32px;
  padding-left: 13px;
  padding-bottom: 13px;
  color: #a4c6ff;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #a4c6ff;
  border-radius: 30px;
  transition-duration: 0.3s;
}

.header-back-btn:hover {
  color: white;
  background-color: #a4c6ff;
  border: 2px solid #a4c6ff;
  transition-duration: 0.3s;
}


/* ヘッダータイトル */
.header-title-item {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
}


/* タスク作成 */
.header-right {
  width: 100%;
  margin-right: 32px;
  text-align: end;
}

.task-create {
  padding: 10px;
  color: #a4c6ff;
  border: 2px solid #a4c6ff;
  font-size: 17px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.task-create:hover {
  background-color: #a4c6ff;
  color: white;
  transition-duration: 0.3s;
}

.hamburger-menu {
  position: fixed;
  z-index: 91;
  background-color: brown;
  width: 100px;
}

/* メニューボタン */
.menu-btn {
  position: fixed;
  top: 20px;
  right: 2vw;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid #a4c6ff;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #a4c6ff;
  position: absolute;
  transition-duration: 0.3s;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

/* メニュー一覧（クリック前） */
.menu-content {
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 82px;
  right: -20%;
  padding: 10px 10px;
  background-color: white;
  border-left: 2px solid #C2D4F2;
  transition-duration: 0.3s;
}


/* メニュー一覧（クリック後） */
#menu-btn-check:checked ~ .menu-content {
  right: 0;
  transition-duration: 0.3s;
}


/* 各メニュー（ホバー前） */
.menu-content ul li {
  border-bottom: solid 1px black;
  list-style: none;
  transition-duration: 0.3s;
}


/* 各メニュー（ホバー後） */
.menu-content ul li:hover {
  border-bottom: solid 1px #a4c6ff;
  list-style: none;
  transition-duration: 0.3s;
}


/* 各メニュー（ホバー前） */
.menu-content ul li .header-right-nav-list {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 0;
  position: relative;
  transition-duration: 0.3s;
}


/* 各メニュー（ホバー後） */
.menu-content ul li .header-right-nav-list:hover {
  color:#a4c6ff;
  transition-duration: 0.3s;
}