/* タスク達成ランキング・投稿全体 */
.content {
  display: flex;
  z-index: 1px;
}

/* タスク達成ランキング全体 */
.achievement-ranks {
  position: absolute;
  top: 82px;
  left: 0;
  width: 40vw;
  height: 755px;
}


/* タスク達成ランキング全体（検索画面） */
.category-achievement-ranks {
  position: absolute;
  top: 135px;
  left: 0;
  width: 40vw;
  height: 755px;
}


/* タスク達成ランキング */
.achievement-rank {
  float: right;
  width: 50%;
  height: 450px;
  margin-top: 30px;
  background-color: white;
  border: solid 2px #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.52);
}


/* タスク達成ランキング(タイトル) */
.achievement-rank-title {
  line-height: 60px;
  border-bottom: solid 2px #cccccc;
  text-align: center;
}

/* タスク達成ランキング(タイトルマーク) */
.fa-crown {
  color: #ffd700;
}

/* タスク達成ランキング(順位・ユーザー情報・達成数) */
.achievement-rank-content {
  width: 100%;
  margin: 1vw 0;
  display: flex;
  align-items: center;
}


/* タスク達成ランキング(順位) */
.achievement-rank-content-num {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 4%;
  border: 2px solid #a4c6ff;
  border-radius: 30px;
  background-color: #a4c6ff;
  color: white;
  text-align: center;
}


/* タスク達成ランキング(ユーザー情報) */
.achievement-ranking-content-user {
  width: 60%;
  display: flex;
  align-items: center;
}


/* タスク達成ランキング(ユーザー情報/アイコン) */
.rank-user-image {
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-right: 1vw;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  transition: 0.5s;
}

.rank-user-image:hover {
  width: 40px;
  height: 40px;
  border: 2px solid #a4c6ff;
  border-radius: 30px;
  transition: 0.5s;
}


/* タスク達成ランキング(ユーザー情報/ユーザー名) */
.rank-user-nickname {
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;
}

.rank-user-nickname:hover {
  color: #a4c6ff;
  border-bottom: 1px solid #a4c6ff;
  transition-duration: 0.5s;
}


/* タスク達成ランキング(達成数) */
.achievement-ranking-content-count {
  width: 30px;
  margin: 0 auto;
  text-align: center;
}


/* 投稿全体(各詳細画面以外) */
.tweets {
  position: absolute;
  top: 82px;
  right: 0;
  width: 60vw;
  height: 755px;
  overflow: scroll;
  z-index: 1;
}


/* 投稿全体(各詳細画面) */
.show-tweets {
  position: absolute;
  top: 82px;
  width: 100vw;
  height: 755px;
  overflow: scroll;
  z-index: 1;
}


/* 検索画面全体 */
.category-tweets {
  position: absolute;
  top: 135px;
  right: 0;
  width: 60vw;
  height: 700px;
  overflow: scroll;
}


/* フォーム検索全体 */
.search-form {
  width: 100vw;
  height: 75px;
  line-height: 75px;
  text-align: center;
}


/* フォーム検索入力欄 */
.search-input {
  width: 50vw;
  height: 37.5px;
  border: 2px solid #cccccc;
}


/* フォーム検索送信ボタン（ホバー前） */
.search-btn {
  width: 7vw;
  height: 40px;
  margin-left: 10px;
  border: 2px solid #cccccc;
  cursor: pointer;
  transition-duration: 0.3s;
}


/* フォーム検索送信ボタン（ホバー後） */
.search-btn:hover {
  background-color: #cccccc;
  transition-duration: 0.3s;
}


/* ジャンル検索全体 */
.category {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  height: 40px;
  line-height: 20px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  border-bottom: 2px solid #C2D4F2;
}


/* 各ジャンルボタン（ホバー前） */
.category-item {
  width: 12vw;
  padding: 10px;
  color: #a4c6ff;
  text-decoration: none;
  border: 2px solid #a4c6ff;
  transition-duration: 0.3s;
}


/* 各ジャンルボタン（ホバー後） */
.category-item:hover {
  color: white;
  background-color: #a4c6ff;
  border: 2px solid #a4c6ff;
  transition-duration: 0.3s;
}


/* 現在いる各ジャンルボタン*/
.category-item-current {
  width: 12vw;
  padding: 10px;
  color: white;
  background-color: #a4c6ff;
  text-decoration: none;
  border: 1px solid #a4c6ff;
}


/* 各投稿全体（各詳細画面以外） */
.tweet {
  width: 66%;
  margin: 30px 0;
  margin-left: 50px;
  padding: 15px;
  padding-bottom: 30px;
  border: solid 2px #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.52);
  background-color: white;
  transition-duration: 0.5s;
}


/* 各投稿全体（ホバー後） */
.tweet:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.52);
  transition-duration: 0.5s;
}


/* 各投稿全体（各詳細画面） */
.show-tweet {
  width: 650px;
  margin: 50px auto;
  padding: 15px;
  padding-bottom: 30px;
  border: solid 2px #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.52);
  background-color: white;
  transition-duration: 0.5s;
}


/* 各投稿全体（ホバー後） */
.show-tweet:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.52);
  transition-duration: 0.5s;
}


/* ユーザー情報及びタスク情報全体 */
.tweet-content {
  display: flex;
}


/* ユーザー情報全体（各詳細画面以外） */
.user-content {
  width: 35vw;
  height: 45px;
  display: flex;
}


/* ユーザー情報全体（各詳細画面以外） */
.show-user-content {
  width: 590px;
  height: 45px;
  display: flex;
}


/* ユーザー情報/アイコン */
.user-image {
  width: 40px;
  height: 40px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  transition: 0.5s;
}

.user-image:hover {
  width: 40px;
  height: 40px;
  border: 2px solid #a4c6ff;
  border-radius: 30px;
  transition: 0.5s;
}


/* ユーザー情報/ニックネーム */
.user-nickname {
  margin: 10px ;
  line-height: 22.5px;
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;
}

.user-nickname:hover {
  color: #a4c6ff;
  border-bottom: 1px solid #a4c6ff;
  transition-duration: 0.5s;
}


/* ユーザー情報/ジャンル（各詳細画面以外） */
.category-content {
  width: 15vw;
  height: 30px;
  margin-top: 20px;
  margin-left: 6vw;
  line-height: 30px;
  text-align: center;
  border-bottom: 2px solid #cccccc;
}


/* ユーザー情報/ジャンル（各詳細画面） */
.show-category-content {
  width: 200px;
  height: 30px;
  margin-top: 20px;
  margin-left: 115px;
  line-height: 30px;
  text-align: center;
  border-bottom: 2px solid #cccccc;
}


/* タスク情報全体（各詳細画面以外） */
.task-content {
  width: 30vw;
  padding: 20px;
  margin-top: 25px;
  margin-left: 3.5vw;
  color: black;
  text-decoration: none;
  border: 2px solid #cccccc;
  display: flex;
}


/* タスク情報全体（各詳細画面）  */
.show-task-content {
  width: 500px;
  height: 100px;
  padding: 20px;
  margin-top: 25px;
  margin-left: 50px;
  color: black;
  text-decoration: none;
  border: 2px solid #cccccc;
  display: flex;
}


/* タスク情報/画像（各詳細画面以外） */
.task-image {
  margin-right: 2vw;
}

.task-content-image {
  width: 7vw;
  height: 6vw;
}


/* タスク情報/画像（各詳細画面） */
.show-task-image {
  margin-right: 20px;
}

.show-task-content-image {
  width: 100px;
  height: 100px;
}


/* タスク情報（タスク名・タスク時間） */
.task-item {
  width: 350px;
  height: 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}


/* タスク情報/タスク名（各詳細画面以外） */
.task-title {
  border-bottom: 2px solid #cccccc;
  width: 17vw;
  line-height: 45px;
  font-size: 18px;
}


/* タスク情報/タスク名（各詳細画面） */
.show-task-title {
  border-bottom: 2px solid #cccccc;
  width: 350px;
  line-height: 45px;
  font-size: 18px;
}


/* タスク情報（タスク時間） */
.task-time {
  margin-top: 10px;
  display: flex;
}

.time-image {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.task-item-time {
  width: 300px;
  line-height: 45px;
}


/* サイドメニュー */
.more {
  display: block;
  cursor: pointer;
  height: 130px;
  width: 60px;
  margin-left: 20px;
}


/* サイドバー */
.side-list {
  margin-right: 3px;
  color: #b3b3b3;
  font-size: 25px;
  text-align: center;
}


/* サイドバーリスト */
.more .tweet-side-lists {
  display: none;
  text-align: center;
}

.more:hover .tweet-side-lists {
  display: block;
  text-align: center;
}

.tweet-side-lists > li {
  margin-bottom: 7px;
}

.tweet-side-list {
  padding: 5px 0;
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;
}

.tweet-side-list:hover {
  color: #a4c6ff;
  border-bottom: 1px solid #a4c6ff;
  transition-duration: 0.5s;
}


/* 詳細情報（各詳細画面以外） */
.datalis {
  width: 31vw;
  padding: 10px;
  margin-top: 15px;
  margin-left: 3.5vw;
  background-color: lightcyan;
  border-radius: 10px;
  overflow: scroll;
}


/* 詳細情報（各詳細画面） */
.show-datalis {
  width: 525px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 50px;
  background-color: lightcyan;
  border-radius: 10px;
  overflow: scroll;
}


/* いいね情報・達成情報（各詳細画面以外） */
.sub-content {
  width: 30vw;
  margin-top: 15px;
  margin-left: 3.5vw;
  display: flex;
}


/* いいね情報・達成情報（各詳細画面） */
.show-sub-content {
  width: 545px;
  margin-top: 15px;
  margin-left: 50px;
  display: flex;
}


/* いいね情報 */
.fa-heart {
  color: pink;
}

.favorite-num{
  margin-left: 5px;
  color: black;
  font-weight: normal;
}


/* コメント情報 */
.fa-comment {
  color: aqua;
  margin-left: 20px;
  display: block;
  padding-top: 4px;
}

.comment-num {
  margin-left: 5px;
  color: black;
  font-weight: normal;
}


/* 達成情報 */
.achieved-display {
  margin-left: 20px;
  color: #ffd700;
}


/* 投稿時間情報 */
.day {
  width: 150px;
  height: 45px;
  float: right;
  color: #b3b3b3;
  text-align: end;
}


@media only screen and (max-width: 980px) {
  /* タスク達成ランキング全体 */
  .achievement-ranks {
    position: absolute;
    top: 82px;
    left: 0;
    width: 30vw;
    height: 755px;
  }

  /* タスク達成ランキング全体（検索画面） */
  .category-achievement-ranks {
    position: absolute;
    top: 135px;
    left: 0;
    width: 30vw;
    height: 755px;
  }


  /* タスク達成ランキング */
  .achievement-rank {
    float: right;
    width: 90%;
    height: 400px;
    margin-top: 30px;
    background-color: white;
    border: solid 2px #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.52);
  }


  /* 投稿全体(各詳細画面以外) */
  .tweets {
    position: absolute;
    top: 82px;
    right: 0;
    width: 70vw;
    height: 755px;
    overflow: scroll;
    z-index: 1;
  }


  /* 検索画面全体 */
  .category-tweets {
    position: absolute;
    top: 135px;
    right: 0;
    width: 70vw;
    height: 700px;
    overflow: scroll;
  }


  /* 各投稿全体（各詳細画面以外） */
  .tweet {
    width: 85%;
    margin: 30px 0;
    margin-left: 3.5vw;
    padding: 15px;
    padding-bottom: 30px;
    border: solid 2px #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.52);
    background-color: white;
    transition-duration: 0.5s;
  }


  /* ユーザー情報全体 */
  .user-content {
    width: 53vw;
    height: 45px;
    display: flex;
  }
  

  /* ユーザー情報/ジャンル */
  .category-content {
    width: 180px;
    height: 30px;
    margin-top: 20px;
    margin-left: 8vw;
    line-height: 30px;
    text-align: center;
    border-bottom: 2px solid #cccccc;
  }


  /* タスク情報全体 */
  .task-content {
    width: 44vw;
    height: 100px;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 6.4vw;
    border: 2px solid #cccccc;
    display: flex;
  }

  /* タスク情報/画像（各詳細画面以外） */
  .task-image {
    margin: 0 1vw;
    margin-top: 1vw;
  }

  .task-content-image {
    width: 80px;
    height: 80px;
  }


  /* タスク情報（タスク名・タスク時間） */
  .task-item {
    width: 260px;
    height: 80px;
    margin-top: 0.5vw;
    display: flex;
    flex-direction: column;
  }


  /* タスク情報/タスク名（各詳細画面以外） */
  .task-title {
    border-bottom: 2px solid #cccccc;
    width: 240px;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
  }


  /* タスク情報（タスク時間） */
  .task-time {
    width: 240px;
    margin-top: 5px;
    display: flex;
    font-size: 14px;
  }


  /* タスク情報（タスク時間） */
  .task-time {
    display: flex;
    height: 30px;
  }

  .time-image {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
  }
  
  .task-item-time {
    line-height: 30px;
  }


  /* 詳細情報 */
  .datalis {
    width: 45vw;
    padding: 10px;
    margin-top: 10px;
    margin-left: 6.2vw;
    background-color: lightcyan;
    border-radius: 10px;
    overflow: scroll;
  }


  /* いいね情報・達成情報（各詳細画面以外） */
  .sub-content {
    width: 45vw;
    margin-top: 10px;
    margin-left: 6.2vw;
    display: flex;
  }


  /* 投稿時間情報 */
  .day {
    width: 150px;
    height: 25px;
    float: right;
    color: #b3b3b3;
    text-align: end;
  }
}