<%# ヘッダー %>
<header>
  <%# 空欄 %>
  <div class="header-item">
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      ASAKATU
    </div>
  </div>
  <%# ログイン・ゲストログイン・新規登録 %>
  <div class="header-item">
    <div class="hamburger-menu">
      <input type="checkbox" id="menu-btn-check">
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
      <div class="menu-content">
        <ul>
          <li><%= link_to "ログイン", new_user_session_path, class: "header-right-nav-list" %></li>
          <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "header-right-nav-list" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "header-right-nav-list" %></li>
        </ul>
      </div>   
    </div>
  </div>
</header>

<div class="no-flash">
  <%= render partial: 'shared/flash' %>
</div>

<div class="home">
  <%# サービス紹介 %>
  <div class="top">
    <div class="top-title">
      <p>朝活に特化したタスク管理もできるSNSアプリ</p>
      <h1>ASAKATU</h1>
    </div>
  </div>
  <%# 機能一覧 %>
  <div class="center">
    <h2>ASAKATUにできること</h2>
    <div class="asakatu-functions">
      <%# 投稿機能 %>
      <div class="asakatu-function">
        <div class="asakatu-function-1-image"></div>
        <div class="asakatu-function-title">
          投稿機能
        </div>
        <div class="asakatu-function-explanation">
          タスクを作成することで、投稿をすることができます。
        </div>
      </div> 
      <%# 管理機能 %>
      <div class="asakatu-function">
        <div class="asakatu-function-2-image"></div>
        <div class="asakatu-function-title">
          管理機能
        </div>
        <div class="asakatu-function-explanation">
          その日作成したタスクの一覧を確認することができます。
        </div>
      </div> 
      <%# 記録機能 %>
      <div class="asakatu-function">
        <div class="asakatu-function-3-image"></div>
        <div class="asakatu-function-title">
          記録機能
        </div>
        <div class="asakatu-function-explanation">
          タスク達成数・達成時間などを確認することができます。
        </div>
      </div> 

    </div>
  </div>

  <%# フッダー %>
  <div class="bottom">
    <div class="bottom-content">
      <p>利用規約</p>
      <p>プライバシーポリシー</p>
      <p>ヘルプ</p>
      <p>お問い合わせ</p>
    </div>
    <div class="bottom-content">
      <h1>ASAKATU</h1>
    </div>
  </div>
</div>
