<footer>

  <div class="footer-title">
    <%= link_to "ホーム", root_path, class: "footer-title-item" %>
    <%= link_to "朝活タスク", root_path, class: "footer-title-item" %>
    <%= link_to "レポート", root_path, class: "footer-title-item" %>
  </div>
  
</footer>