<header>
  <%# ユーザー情報 %>
  <div class="header-item">
  </div>
  <%# ヘッダータイトル %>
  <div class="header-item">
    <div class="header-title-item">
      ジャンル検索
    </div>
  </div>
  <%# タスク作成 %>
  <div class="header-item">
  </div>
</header>