<div class='form-session'>
<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <h1>ログイン</h1>
  <%= f.email_field :email, placeholder:"メールアドレス", autofocus: true, class:"form-box" %>
  <%= f.password_field :password, placeholder:"パスワード", autocomplete: "off", class:"form-box" %>
  <%= f.submit "ログイン", class:"form-btn" %>
<% end %>
</div>
