body {
  overflow: hidden;
}


/* ログイン画面・新規登録画面全体 */
.devise {
  width: 100vw;
  height: 100vh;
}


/* フォーム全体（ログイン画面・新規登録画面） */
.form-devise {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}


/* フォーム全体（新規登録画面） */
.form-new-registration {
  width: 500px;
  height: 670px;
}


/* フォーム全体（ログイン画面） */
.form-session {
  width: 500px;
  height: 450px;
}


/* ユーザー編集画面全体 */
.form-edit-registrations {
  width: 100vw;
  height: calc(100vh - 160px);
  margin-top: 80px;
  padding: 40px 0;
  overflow: scroll;
}


/* フォーム全体（ユーザー編集画面） */
.form-edit-registration {
  width: 500px;
  height: 1120px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}


/* タイトル（ログイン画面・新規登録画面・ユーザー編集画面） */
h1 {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: 700;
}


/* タイトル（新規登録画面・ユーザー編集画面） */
.registration-title {
  margin: 15px 0 45px 0;
}


/* タイトル（ログイン画面） */
.login-title {
  margin: 15px 0 10px 0;
}


/* ユーザーアイコン全体 */
.field-devise-image {
  height: 300px;
  width: 500px;
  margin-bottom: 40px;
}


/* ユーザーアイコン */
#image-list {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 2px solid #f2f2f2;
  border-radius: 100px;
}


/* ユーザーアイコン(選択前) */
.profile-icon-image-list {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}


/* ユーザーアイコン(選択後) */
#image-list > div > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}


/* 各入力欄全体 */
.field-devise {
  height: 105px;
  width: 500px;
  margin-bottom: 10px;
}


/* 各ラベル */
.field-devise-label {
  width: 500px;
}

.devise-label {
  display: block;
  width: 77%;
  margin: 0 auto;
}


/* 各入力欄 */
.field-devise-form-box {
  width: 500px;
}

.devise-form-box {
  display: block;
  width: 75%;
  padding: 5px;
  margin: 10px auto 5px;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: 1px solid #eee;
}


/* エラーメッセージ */
.field-errors {
  width: 77%;
  margin: 0 auto;
  color: red;
  font-size: 14.5px;
}

.session-errors {
  width: 77%;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: red;
  font-size: 14.5px;
  text-align: center;
}


/* 送信ボタン全体 */
.field-devise-form-btn {
  width: 500px;
  height: 90px;
  padding-top: 10px;
}


/* 送信ボタン（ログイン画面・新規登録画面・ユーザー編集画面） */
.form-btn {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  background-color: #bad3ff;
  box-shadow:0 4px 0 #dcdcdc;
  border: 2px solid #bad3ff;
  border-radius: 6px;
}


/* 送信ボタン（ホバー後） */
.form-btn:hover {
  position: relative;
  top: 4px;
  cursor: pointer;
  box-shadow: none;
  font-weight: bold;
}


/* 送信ボタン（新規登録画面・ユーザー編集画面） */
.registration-btn {
  letter-spacing: 2em;
  text-indent: 2em;
}


/* 送信ボタン（ログイン画面） */
.session-btn {
  letter-spacing: 1em;
  text-indent: 1em;
} 