/* フォロー・フォロワー画面全体 */
.follow-content {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  margin-top: 190px;
  padding: 10px;
  border: 2px solid #f2f2f2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.52);
  overflow: scroll;
}


/* 各フォロー・フォロワーユーザー情報 */
.follow-user-content {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}