/* 全体 */
.top {
  width: 100vw;
  height: 100vh;
  margin-top: 80px;
  overflow: scroll;
}


/* サービス紹介 */
.top1 {
  width: 100vw;
  height: 52vw;
  padding-top: 50px;
}


/* サービス紹介文 */
.top1 > p {
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
}


/* サービスイメージ画像全体 */
.top1-images {
  width: 60vw;
  height: 35vw;
  margin: 0 auto;
}


/* サービスイメージ画像 */
.top1-image {
  width: 60vw;
  height: 35vw;
  margin-top: 55px;
}


/* タイトル全体 */
.top2 {
  width: 100vw;
  height: 10vw;
  margin-top: 10vw;
}


/* タイトル */
.top2 > h2 {
  text-align: center;
  font-size: 22px;
  line-height: 10vw;
}


/* 機能説明（タスク投稿機能） */
.top3 {
  background-color: #d9e5ff;
  width: 85vw;
  height: 65vw;
  margin: 0 auto;
  margin-top: 5vw;
}

/* 機能説明（タスク投稿機能）のタイトル */
.top3 > h1 {
  background-color: #BAD3FF;
  text-align: center;
  font-size: 22px;
  line-height: 10vw;
}


/* 機能説明（タスク投稿機能）の説明文・画像全体 */
.top3-explanation {
  width: 85vw;
  height: 50vw;
  margin: 0 auto;
}


/* 機能説明（タスク投稿機能）の説明文 */
.top3-explanation > p {
  padding: 2vw 0;
  text-align: center;
  font-size: 22px;
}


/* 機能説明（タスク投稿機能）の画像全体 */
.top3-function {
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 機能説明（タスク投稿機能）の画像 */
.top3-function > .top3-image {
  width: 35vw;
  height: 35vw;
  margin: 0 2vw;
}


/* 機能説明（タスク投稿機能）の矢印マーク */
.top3-function > div {
  font-size: 3vw;
}


/* 機能説明（タスク管理機能） */
.top4 {
  background-color: #d9e5ff;
  width: 85vw;
  height: 65vw;
  margin: 0 auto;
  margin-top: 15vw;
}


/* 機能説明（タスク管理機能）のタイトル */
.top4 > h1 {
  background-color: #BAD3FF;
  text-align: center;
  font-size: 22px;
  line-height: 10vw;
}


/* 機能説明（タスク管理機能）の説明文・画像全体 */
.top4-explanation {
  width: 85vw;
  height: 50vw;
  margin: 0 auto;
}


/* 機能説明（タスク管理機能）の説明文 */
.top4-explanation > p {
  padding: 2vw 0;
  text-align: center;
  font-size: 22px;
}


/* 機能説明（タスク管理機能）の画像全体 */
.top4-function {
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 機能説明（タスク管理機能）の画像全体 */
.top4-function > .top4-image {
  width: 70vw;
  height: 35vw;
  margin: 0 2vw;
}


/* 機能説明（タスク記録機能） */
.top5 {
  background-color: #d9e5ff;
  width: 85vw;
  height: 65vw;
  margin: 0 auto;
  margin-top: 15vw;
}


/* 機能説明（タスク記録機能）のタイトル */
.top5 > h1 {
  background-color: #BAD3FF;
  text-align: center;
  font-size: 22px;
  line-height: 10vw;
}


/* 機能説明（タスク記録機能）の説明文・画像全体 */
.top5-explanation {
  width: 85vw;
  height: 50vw;
  margin: 0 auto;
}


/* 機能説明（タスク記録機能）の説明文 */
.top5-explanation > p {
  padding: 2vw 0;
  text-align: center;
  font-size: 22px;
}


/* 機能説明（タスク記録機能）の画像全体 */
.top5-function {
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 機能説明（タスク記録機能）の画像 */
.top5-function > .top5-image {
  width: 70vw;
  height: 35vw;
  margin: 0 2vw;
}


/* ログイン・新規登録ボタン全体 */
.top6 {
  width: 85vw;
  height: 8vw;
  margin: 10vw auto;
  text-align: center;
  line-height: 8vw;
}


/* ログイン・新規登録ボタン */
.top6  > .top-user-btn {
  background-color: white;
  color: #a4c6ff;
  border: 2px solid #a4c6ff;
  font-size: 20px;
  width: 20vw;
  height: 8vw;
  text-decoration: none;
  transition-duration: 0.3s;
  padding: 2vw 5vw;
}

.top6  > .top-user-btn:hover {
  background-color: #a4c6ff;
  color: white;
  transition-duration: 0.3s;
}

.top6  > .top-user-login {
  margin-right: 8vw;
}

.top6  > .top-user-create {
  margin-left: 8vw;
}


/* フッダー全体 */
.top7 {
  background-color: gainsboro;
  width: 100vw;
  height: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


/* フッダー各項目全体 */
.top7 > .top7-content {
  width: 100vw;
  display: flex;
  justify-content: center;
}


/* フッダー各項目 */
.top7-content > p {
  margin: 20px 30px 0 30px;
}


/* フッダーアプリ名 */
.top7-content > h1 {
  font-size: 22px;
}