/* マイページ全体 */
.my-page {
  width: 100vw;
  height: calc(100vh - 120px);
  margin-top: 80px;
  padding-bottom: 40px;
  overflow: scroll;
}


/* ユーザー情報全体 */
.profile {
  width: 685px;
  height: 400px;
  padding: 20px 0;
  margin: 60px auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: solid 2px #cccccc;
}


/* ユーザーアイコン全体 */
.profile-icon {
  width: 200px;
  height: 200px;
}


/* ユーザーアイコン */
.profile-icon-image {
  width: 200px;
  height: 200px;
  border: 2px solid #f2f2f2;
  border-radius: 100px;
}


/* ユーザー名全体 */
.profile-name {
  width: 100px;
  height: 50px;
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ユーザー名 */
.profile-name > span {
  font-size: 25px;
}


/* フォローボタン全体 */
.follow-btn {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* フォローボタン */
.btn {
  width: 130px;
  padding: 5px;
  border: 2px solid #6495ed;
  border-radius: 30px;
  cursor: pointer;
}


/* フォローボタン（フォロー中） */
.btn-danger {
  background-color: #6495ed;
  color: white;
}


/* フォローボタン（フォロー） */
.btn-primary {
  background-color: white;
  color: #6495ed;
}


/* 投稿数・フォロー数・フォロワー数全体 */
.profile-item {
  width: 400px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 2px solid #cccccc;
}


/* 投稿数・フォロー数・フォロワー数全体 */
.tweets-content {
  width: 100px;
  display: flex;
  flex-direction: column;
}


/* 投稿数のタイトル（ホバー前） */
.follow-title {
  color: black;
  border-bottom: 1px solid white;
  text-decoration: none;
  transition-duration: 0.5s;
}


/* 投稿数のタイトル（ホバー後） */
.follow-title:hover {
  color: #a4c6ff;
  border-bottom: 1px solid #a4c6ff;
  transition-duration: 0.5s;
}


/* 投稿全体 */
.profile-tweets {
  width: 100vw;
  height: 755px;
  margin: 50px 0 140px;
  z-index: 1;
}