/* 記録画面 */
.records {
  width: 80vw;
  height: 703px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}


/* タスク数・達成数・達成時間計・達成数のグラフ全体 */
.record-contents {
  width: 70vw;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* タスク数・達成数・達成時間計全体 */
.record-content {
  width: 20vw;
  height: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #cccccc;
  border-radius: 10px;
}


/* タスク数・達成数・達成時間計のタイトル */
.record-content-title {
  width: 20VW;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  border-bottom: 2px solid #cccccc;
}



/* タスク数・達成数・達成時間計の数字 */
.record-content-num {
  width: 20VW;
  height: 60px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}



/* 達成時間計の「h」 */
.record-content-num > span {
  font-size: 15px;
  color: #cccccc;
}


/* 達成数のグラフ全体 */
.record-achievement-graph {
  margin: 0 auto;
  padding: 20px;
  margin-top: 110px;
  border: 2px solid #cccccc;
  border-radius: 10px;
}


/* タスク数・達成数・達成時間計のタイトル */
.record-achievement-graph-title {
  width: 20vw;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #cccccc;
}