.morning-task {
  width: 700px;
  height: 703px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.today {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 25px;
}

.tasks {
  width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  border: 2px solid #cccccc;
  border-radius: 10px;
}

.today-tasks {
  width: 90%;
  height: 220px;
  padding: 0 10px;
}

.today-task {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 45px;
  border-bottom: 2px solid #cccccc;
}

.today-task-title {
  width: 400px;
  font-size: 20px;
}

.today-task-time {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
}

.today-details {
  width: 87%;
  height: 25%;
  margin: 0 auto;
  padding: 10px;
  margin-left: 43px;
  background-color: #eee;
  border-radius: 10px;
  overflow: scroll;
}

.not-achieved {
  background-color: white;
  border: 2px solid #6495ed;
  color: #6495ed;
  display: block;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 225px;
  border-radius: 10px;
}

.achieved {
  background-color: #6495ed;
  border: 2px solid #6495ed;
  color: white;
  display: block;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 225px;
  border-radius: 10px;
}

.today-more {
  margin-top: 10px;
  margin-right: 10px;
  width: 35px;
  text-align: center;
}

.today-more .tweet-side-lists {
  display: none;
  text-align: center;
}

.today-more:hover .tweet-side-lists {
  display: block;
  text-align: center;
}